{% extends 'base.html' %}

tables = ['customers', 'drone_pilots', 'drones', 'employed_workers', 'employees', 'order_lines', 
          'orders', 'products', 'store_workers', 'stores', 'users']
{% block body %}
    <div class="row text-center">
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='customers') }}">Customers</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='drone_pilots') }}">Drone pilots</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='drones') }}"> Drones</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='employed_workers') }}">Employed workers</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='employees') }}">Employees</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='order_lines') }}">Order lines</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='orders') }}">Orders</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='products') }}">Products</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='store_workers') }}">Store workers</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='stores') }}">Stores</a>
        <a class="col btn btn-primary" href="{{ url_for('show_table', name='users') }}">Users</a>
    </div>
    

    <div class="container">
        <table class="table">
            <tr>
                {% for col in columns %}
                <td scope="col">{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in rows %}
            <tr>
                {% for entry in row %}
                <td>{{entry}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}